.profile {
  max-width: 300px;
 	text-align: center;
	box-shadow: 0px 2px 9px 6px rgb(218, 218, 218);
	margin-top: 25px;
	margin: 25px auto;
}

.avatar {
	margin-top: 25px;
	border-radius: 50%;
}

.description {
	text-align: center;
}
.name {
	font-size: 25px;
	font-weight: 700;
}

.location,
.tag {
	color: grey;
}

.stats {
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: 2px solid rgb(168, 167, 167);
	background-color: rgb(197, 197, 197, 0.35);
	display: flex;
	justify-content: space-around;
	min-height: 60px;
	align-items: center;
}

li {
	min-width: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

li:nth-child(even) {
	border-right: 2px solid rgb(168, 167, 167);
	border-left: 2px solid rgb(168, 167, 167);
}

.label {
	color: grey;
}

.quantity {
	font-size: 20px;
	font-weight: 700;
}
